"""1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 
"""
Values:
   'hello'
    -87.8
    6
    
Expression:
    *
    - 
    / 
    +

"""2. What is the difference between string and variable?"""

String is one of the datatype where as variable is the name where the data is stored.
Ex: var = "bhavani"
 Here var is variable name where the string "bhavani" is stored and datatype of variable var is String.

"""3. Describe three different data types."""

Every programming languages support different kind of data types. To name few; Integer, Floating , String, Boolean, Complex, List, Tuple, Dictionary, Set etc.. 
In python we can check the data type by giving the command type(variable_name).
ex: var1=123
    type(var1) 
    o/p : int

Integer: This is one of the data types available in programming lanhuages. Usually it is represented as Int. Integer datatype store the numbers without decimals. Ex: 1243, 54645, 345342

Floating:This is another data types available in programming lanhuages. Usually it is represented as float. Floating datatype store the numbers with decimals. Ex: 123.23,  12121.53, 1232.0

String:This is another data types available in programming lanhuages. Usually it is represented as str. string variable is assigned inside "  "(double codes) or '  '(single codes). If even the number is assigned inbetween double codes it considers it as string. Ex : "bhavani" ,'hegde' , "1233"

"""4. What is an expression made up of? What do all expressions do?"""

An expression is  made up of variables, operators and method invocation which are constructed according to the syntax of the programming languages. The result of the expression will be always the single value. Ex Var =2-3+4, Here var is the variable where the result is stored.2,3,4 are the values and  - & + are the operators.

"""5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?"""

An expression always evaluates a value , Ex 2+12. where as a assignment statement asssigns a value to a variable. Ex spam = 10 here value 10 is assigned to a variable spam which can be used later in the program.
Every expression cant be a assignment statemen where as every assignment statement is an expression.

In [6]:
"""6. After running the following code, what does the variable bacon contain?"""
bacon = 22
bacon + 1
"""bacon contains the value 23"""

23

In [5]:
"""7. What should the values of the following two terms be?"""

'spam' + 'spamspam'
'spam' * 3

Both returns the same string.

'spamspamspam'

"""8. Why is eggs a valid variable name while 100 is invalid?"""

Variable name may contain letters, digits or the underscore character but it should follow some of the rules like
1. variable name must begin with a letter or the underscore. Ex: bhavani, bhavani_, _bhavani, _bhavani_ etc...
2. variable name should NOT start with number. Ex: 1bhavani, 100bhavani are invalid variable names etc...
3. variable name may contain mixture of upper and lower case letters. Ex: Bhavani,BHAvani  etc...
4. variable name should NOT be of any reserved word list. Ex : and, in, False, True  etc...

eggs contains only letters and this is not the reserved word list. so it can be a variable name  where as 100 is a number so it cannot be a variable name.

In [26]:
100 = 345

SyntaxError: cannot assign to literal (Temp/ipykernel_15604/4189977605.py, line 1)

In [27]:
eggs = 34445
eggs

34445

"""9. What three functions can be used to get the integer, floating-point number, or string version of a value?"""

The three functions are int(),float() and str(). Below are the examples.

In [14]:
val= 123.3
int(val)

123

In [15]:
float(val)

123.3

In [16]:
str(val)

'123.3'

"""10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
"""

The concatenate operation works only if the data type of all the operands are same.  Here we have 2 string type operands and one int type operand. so we are getting the error. We can fix this problem by converting the int type to string type by putting it inside "" or ''.

In [18]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [19]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [20]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'